/* Global
--------------------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Purple-300: hsl(276, 100%, 81%);
    --Purple-600: hsl(276, 55%, 52%);
    --Gray-500: hsl(270, 7%, 64%);
    --Gray-300: hsl(206, 6%, 79%);
    --Purple-950: hsl(271, 36%, 24%);

    --Pink-500: hsl(293, 100%, 63%);
    --Purple-500: hsl(264, 100%, 61%);

    --White: hsl(0, 100%, 100%);
    --Gray-100: hsl(270, 20%, 96%);
    --Purple-950: hsl(271, 36%, 24%);
    --Pink-400: hsl(289, 100%, 72%);
}

body {
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    background-color: var(--Gray-100);
}

h1 {
    font-size: 2.5rem;
    color: var(--Purple-950);
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 500;
}

p {
    color: var(--Gray-500);
}

/* Content
--------------------------------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
}

/* Main
--------------------------------------------------------------------------------- */

.main {
    order: 1;
    text-align: center;
    padding-bottom: 3rem;
}

.main p {
    line-height: 1.5;
    padding: 0 1rem;
}

/* Phone
--------------------------------------------------------------------------------- */

.phone {
    position: relative;
    background-color: var(--White);
    border-radius: 30px;
    margin: 0 auto 0;
    width: 300px;
    box-shadow: 1px 1px 3px gray;
    margin-top: 5rem;
    padding: 10px;
}

.phone-content {
    box-shadow: 0 0 1px gray;
    border-radius: 30px;
    background-color: var(--Gray-100);
}

.phone-content img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.phone header {
    background: linear-gradient(to right, var(--Purple-500), var(--Pink-500));
    padding: 30px 15px 20px 15px;
    border-radius: 30px 30px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone .header-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.phone .header-left-images {
    display: flex;
    align-items: center;
    gap: 5px;
}

.phone .header-left-images p {
    color: var(--White);
}

.phone .avatar {
    width: 30px;
    height: 30px;
    border: 1px solid var(--White);
}

.phone .sub-header {
    color: var(--Purple-300);
    font-size: 0.7rem;
}

.phone h2 {
    color: var(--White);
    font-weight: 500;
    font-size: 1rem;
}

.phone .header-right {
    color: var(--White);
}

.phone-top-rectangle {
    position: absolute;
    width: 55%;
    height: 30px;
    background-color: var(--White);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}