/* Global
--------------------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Purple-300: hsl(276, 100%, 81%);
    --Purple-600: hsl(276, 55%, 52%);
    --Gray-500: hsl(270, 7%, 64%);
    --Gray-300: hsl(206, 6%, 79%);
    --Gray-200: hsl(270, 20%, 90%);
    --Gray-100: hsl(270, 20%, 96%);
    --Purple-950: hsl(271, 36%, 24%);

    --Pink-500: hsl(293, 100%, 63%);
    --Purple-500: hsl(264, 100%, 61%);

    --White: hsl(0, 100%, 100%);
    --Purple-950: hsl(271, 36%, 24%);
    --Pink-400: hsl(289, 100%, 72%);
}

body {
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    background-color: var(--Gray-100);
}

h1 {
    font-size: 2.5rem;
    color: var(--Purple-950);
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 500;
}

p {
    color: var(--Gray-500);
}

/* Content
--------------------------------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
}

/* Main
--------------------------------------------------------------------------------- */

.main {
    order: 1;
    text-align: center;
    padding-bottom: 3rem;
}

.main p {
    line-height: 1.5;
    padding: 0 1rem;
}

/* Phone
--------------------------------------------------------------------------------- */

.phone {
    position: relative;
    background-color: var(--White);
    border-radius: 30px;
    margin: 0 auto 0;
    width: 280px;
    box-shadow: 1px 1px 3px gray;
    margin-top: 5rem;
    padding: 10px;
}

/* Phone border
--------------------------------------------------------------------------------- */

.phone-border {
    box-shadow: 0 0 1px gray;
    border-radius: 30px;
    background-color: var(--Gray-100);
}

/* Phone header
--------------------------------------------------------------------------------- */

.phone header {
    background: linear-gradient(to right, var(--Purple-500), var(--Pink-500));
    padding: 30px 15px 20px 15px;
    border-radius: 30px 30px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone .header-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.phone .header-left-images {
    display: flex;
    align-items: center;
    gap: 5px;
}

.phone .header-left-images p {
    color: var(--White);
}

.phone .avatar {
    width: 25px;
    height: 25px;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.phone h2 {
    color: var(--White);
    font-weight: 500;
    font-size: 0.8em;
}

.phone .sub-header {
    color: var(--Purple-300);
    font-size: 0.6rem;
}

.phone .header-right {
    color: var(--White);
    font-size: 0.8rem;
    font-weight: bold;
}

.phone-top-rectangle {
    position: absolute;
    width: 55%;
    height: 30px;
    background-color: var(--White);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

/* Phone content
--------------------------------------------------------------------------------- */

.phone-content {
    padding: 15px 6px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-box-left,
.chat-box-right {
    font-size: 0.6rem;
}

.chat-box-left {
    padding: 10px 5px;
    border-radius: 10px 10px 10px 0;
}

.chat-box-right {
    border-radius: 10px 10px 0 10px;
    align-self: end;
}

.images img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.images.right {
    align-self: end;
}

.chat-box-left.light {
    background-color: var(--Gray-200);
    color: var(--Purple-600);
    max-width: 60%;
}

.chat-box-right.light {
    background-color: var(--White);
    padding: 10px;
    color: var(--Gray-500);
    max-width: 60%;
}

.chat-box-left.dark {
    background-image: linear-gradient(to right, var(--Purple-500), var(--Pink-500));
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-box-left.dark p {
    color: white;
}

.chat-box-left .left{
    display:flex;
    align-items: center;
    gap:10px;
}

.price{
    font-weight: bold;
    font-size: 0.9rem;
}

.circle-symbol{
    width:15px;
    height: 15px;
    background: transparent;
    border:1px solid white;
    border-radius: 50%;
}

.type-message{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.type-message .prompt{
    font-size: 0.6rem;
    color: var(--Gray-300);
}

.type-message .search-symbol{
    background-color: var(--Purple-950);
    border-radius: 50%;
    padding:5px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--White);
}