/* Global
--------------------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --purple-300: hsl(276, 100%, 81%);
    --purple-600: hsl(276, 55%, 52%);
    --gray-500: hsl(270, 7%, 64%);
    --gray-300: hsl(206, 6%, 79%);
    --gray-200: hsl(270, 20%, 90%);
    --gray-100: hsl(270, 20%, 96%);
    --purple-950: hsl(271, 36%, 24%);

    --pink-500: hsl(293, 100%, 63%);
    --purple-500: hsl(264, 100%, 61%);

    --white: hsl(0, 100%, 100%);
    --pink-400: hsl(289, 100%, 72%);
}

html {
    height: 100%;
}

body {
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    background-color: var(--gray-100);
    min-height: 100%;
}

h1 {
    font-size: 2.5rem;
    color: var(--purple-950);
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 500;
}

p {
    color: var(--gray-500);
}

/* Content
--------------------------------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    margin-top: 5rem;
    height: 100%;
}

/* Main
--------------------------------------------------------------------------------- */

.main {
    order: 1;
    text-align: center;
    padding-bottom: 3rem;
}

.main p {
    line-height: 1.5;
    padding: 0 1rem;
}

/* Phone
--------------------------------------------------------------------------------- */

.phone {
    position: relative;
    background-color: var(--white);
    border-radius: 30px;
    width: 17.5em;
    box-shadow: 1px 1px 3px gray;
    padding: 10px;
    animation: shadow 1s forwards;
}

.phone-wrapper {
    position: relative;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 gray;
    }

    100% {
        box-shadow: 10px 10px gray;
    }
}

/* Phone background
--------------------------------------------------------------------------------- */

.phone-background {
    position: absolute;
    left: 50%;
    top: 0;
    background-image: linear-gradient(to top, var(--purple-500), var(--pink-500));
    width: 100vw;
    height: 700px;
    transform: translate(-100%, -22%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* Phone border
--------------------------------------------------------------------------------- */

.phone-border {
    box-shadow: 0 0 1px gray;
    border-radius: 30px;
    background-color: var(--gray-100);
}

/* Phone header
--------------------------------------------------------------------------------- */

.phone header {
    background: linear-gradient(to right, var(--purple-500), var(--pink-500));
    padding: 1.875em 0.9375em 1.25em 0.9375em;
    border-radius: 30px 30px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone .header-left {
    display: flex;
    gap: 0.625em;
    align-items: center;
}

.phone .header-left-images {
    display: flex;
    align-items: center;
    gap: 0.3125em;
}

.phone .header-left-images p {
    color: var(--white);
}

.phone .avatar {
    width: 1.5625em;
    height: 1.5625em;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.phone h2 {
    color: var(--white);
    font-weight: 500;
    font-size: 0.8em;
}

.phone .sub-header {
    color: var(--purple-300);
    font-size: 0.6em;
}

.phone .header-right {
    color: var(--white);
    font-size: 0.8em;
    font-weight: bold;
}

.phone-top-rectangle {
    position: absolute;
    width: 55%;
    height: 1.875em;
    background-color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

/* Phone content
--------------------------------------------------------------------------------- */

.phone-content {
    padding: 0.9375em 0.375em 0.625em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

p.chat-box-left,
p.chat-box-right {
    font-size: 0.6em;
}

.chat-box-left {
    padding: 0.625em 0.3125em;
    border-radius: 10px 10px 10px 0;
}

.chat-box-right {
    border-radius: 10px 10px 0 10px;
    align-self: end;
}

.images img {
    width: 3.125em;
    height: 3.125em;
    border-radius: 15px;
}

.images.right {
    align-self: end;
}

.chat-box-left.light {
    background-color: var(--gray-200);
    color: var(--purple-600);
    max-width: 60%;
}

.chat-box-right.light {
    background-color: var(--white);
    padding: 0.625em;
    color: var(--gray-500);
    max-width: 60%;
}

.chat-box-left.dark {
    background-image: linear-gradient(to right, var(--purple-500), var(--pink-500));
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.625em;
    padding-right: 0.625em;
}

.chat-box-left.dark p {
    color: white;
    font-size: 0.6em;
}

.chat-box-left .left {
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.chat-box-left.dark .price {
    font-weight: bold;
    font-size: 0.9em;
}

.circle-symbol {
    width: 0.9375em; 
    height: 0.9375em;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
}

.type-message {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 30px;
    padding: 0.3125em 0.625em 0.3125em 0.625em;
}

.type-message .prompt {
    font-size: 0.6em;
    color: var(--gray-300);
}

.type-message .search-symbol {
    background-color: var(--purple-950);
    border-radius: 50%;
    padding: 0.3125em 0.625em;
    font-size: 1em;
    font-weight: bold;
    color: var(--white);
}

/* Media query
--------------------------------------------------------------------------------- */

@media screen and (min-width:800px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        padding-left: 0;
    }

    .phone{
        font-size: 1.2rem;
    }

    .content {
        margin-top: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 0 10px;
    }

    .main {
        width: 400px;
        text-align: left;
    }

    .main p {
        padding: 0;
    }

    .phone-background {
        left: 25%;
        top: 0;
        width: 40vw;
        height: 900px;
        transform: translate(-100%, -22%);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.001ms !important;
    }
}